# unnecessary files
~*
.DS_Store
*.swp
*.swo
*.pyc
*.out

# venv
venv

# export files 
app/exports

# test files
!tests/*.out

# global files
plugin/pixelcode.sketchplugin/Contents/Sketch/globals.cocoascript
