# unnecessary files
~*
.DS_Store
*.swp
*.swo
*.pyc
*.out

# venv
venv

# export files 
app/exports

# Original global files
plugin/pixelcode.sketchplugin/Contents/Sketch/globals.cocoascript

# Original Plugin exports file
plugin/pixelcode.sketchplugin/Contents/Sketch/exports

### skpm plugin

# build artifacts
pixelcode-skpm/plugin.sketchplugin/Contents/Sketch
pixelcode-skpm/plugin.sketchplugin/Contents/Resources/_webpack_resources

# npm
pixelcode-skpm/node_modules
# .npm
pixelcode-skpm/npm-debug.log

# # mac
pixelcode-skpm/.DS_Store

# # WebStorm
pixelcode-skpm/.idea

# skpm plugin global files
pixelcode-skpm/src/globals.js

# skpm plugin src exports
pixelcode-skpm/src/exports/

# skpm plugin exports
pixelcode-skpm/plugin.sketchplugin/Contents/Resources/exports/
