# unnecessary files
~*
.DS_Store
*.swp
*.swo
*.pyc
*.out

# venv
venv

# export files 
app/exports

# Original global files
plugin/pixelcode.sketchplugin/Contents/Sketch/globals.cocoascript

# Original Plugin exports file
plugin/pixelcode.sketchplugin/Contents/Sketch/exports

# skpm plugin global files
pixelcode-skpm/src/globals.js

# skpm plugin exports
pixelcode-skpm/src/exports/
