html {
  width: 100%;
  height: 100%;
  background: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: -0.8px;
    color: #222222;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 64px;
    text-align: center;
}

.parent a {
  max-width: 100px;
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 58px;
}

img {
  max-width: 100%;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 336px;
  margin: 0 auto;
}

.child {
  height: 58px;
  margin-bottom: 24px;
}

.login-child {
  height: 44px;
}

label {
  height: 14px;
  font-size: 10px;
  color: #929199;
  margin-bottom: 4px;
}

input {
  width: 336px;
  height: 40px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #929199;
  outline: none;
  padding-left: 10px;
}

.login {
  width: 172px;
  height: 48px;
  margin: 0 auto;
}

input:focus {
  border-color: black;
  label {
    color: black;
  }
}

a {
  text-decoration: none;
}

#loginBtn {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  color: white;
  background: #574FB7;
  font-size: 14px;
  outline:none;
}

#loginBtn:active {
  border-style: outset;
}
