const globals = {
  userProjectsRoute: 'https://app.pixelcode.io/api/csrf/userprojects',
  uploadToProjectRoute: 'https://app.pixelcode.io/api/project/',
  exportsPath: '/Users/{FILL IN}/pixelcode/app/exports/'
};

export default globals;

