var globals = {"filepath": "/Users/[USER]/Documents/pixelcode/app/exports/",
               "exportsPath": "/Users/[USER]/Documents/pixelcode/plugin/pixelcode.sketchplugin/Contents/Sketch/exports/"};
